body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th {
    height: 30px;
    background-color: lightcyan;
}

td {
    text-align: center;
    padding: 5px;
}

form {
    margin-top: 20px;
}

#content, .success, .fail {
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    background-color: white;
}

#tasks {
    margin: 0 auto;
    padding: 20px;    
}