{% extends 'base.html' %}

{% block head %}
  <title>Avaliação automática</title>
{% endblock %}

{% block body %}
  <h1>Avaliação automática</h1>
  <div id="content">
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".aia"></p>
      <div id="tasks">
        <input type="radio" id="task1" value="1" name="task" checked>
        <label for="task1">Tarefa 1</label>
        <input type="radio" id="task2" value="2" name="task">
        <label for="task2">Tarefa 2</label>
        <input type="radio" id="task3" value="3" name="task">
        <label for="task3">Tarefa 3</label>
      </div>
      <p><input type="submit" value="Submit"></p>
    </form>
  </div>
{% endblock %}
