{% extends 'base.html' %}

{% block head %}
  <title>Resultado da Avaliação</title>
{% endblock %}

{% block body %}
  <h1>Resultado da Avaliação</h1>
  <div class="success">
    {% for msg in output.success %}
      <p>{{(':check_mark_button: '+msg)|emojify}}</p>
    {% endfor %}
  </div>
  <div class="fail">
    {% for msg in output.fail %}
      <p>{{(':cross_mark: '+msg + ' :red_exclamation_mark:')|emojify}}</p>
    {% endfor %}
  </div>
  <div class="validation_code">
    {% if output.fail %}
        <p>Ainda tem erros. Confira seu código e tente novamente.</p>
    {% else %}
        <p>{{'Parabéns! A senha para avançar nas atividades do Moodle é ' + output.validation_code + '.'}}</p>
    {% endif %}
  </div>
{% endblock %}
